
html, body {
    height: 100%;
}

body {
    
    background: #161D2C;
    color: #11bdca;
    
}

nav {
    width: 100%;
    height: 50px;
    background: white;

    display: flex;

}

nav ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;

}

nav ul li {
    flex: 1 1 100px;
    display: flex;

}

nav ul li a {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #175259;


    /* height: 50px; */
}

nav ul li a:hover {
    color: #175259;
    background:#c3cfa1;
}


/* toDoList component*/

ul.toDoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.toDoList li .actions {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDoList input  {
    border: #11bdca 1px solid;   
}

.toDoList input[readonly] {
    border: none;
    color: red;
    background: none;
}

/* toDoList component end*/

/* Actions */

a.actions:hover {
    cursor: pointer;
    color: #161C2A;
}

/* Actions end */

.addContainer {
    background: white;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}




/* Modal  start */


/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal .btn {
      width: 100px;
  }

  .btnWrap {
      text-align: right;
  }

/* Modal  end */
